.nav-bar-container {
    display: flex;
    justify-items: space-around;
}


.nav-bar-logo  h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 70px;
    /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: -0.04em;
    font-feature-settings: 'ss01' on;
    color: black;
    
}