
.navbar-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.navbar-logo {
}

.navbar-links {
    margin-top: 0.8rem;
    align-self: center;
}

.theme-changer button {
    border: none;
    background-color: #fff;
    
}

.navLink {
   
  text-decoration: none;
  margin-right: 3rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  font-feature-settings: "ss01" on;

  /* Dark */
  color: #272727;
}
